<div class="first-page">
    <img src="../assets/first-page-img.png" class="img-fluid imgresponsive mx-auto d-block w-100 w-lg-50 w-md-50">
</div>
<!-- First Page End -->
<br>
<!-- <div class="second-page ">
    <img src="../assets/second-page-img.png" alt=""
        class="img-fluid img-responsive position-absolute mx-auto d-block w-100 w-lg-50 w-md-50 ">
    <div class="position-relative text-center">
        <i class="fa-solid fa-wine-glass-empty top-50 start-50  p-3  "
            style="margin-top: 45%;font-size: 80px; color: black; background-color: rgba(199,16,46,255); border: 1px solid rgba(199,16,46,255);border-radius: 50%;"></i>
        <br><br><br>
        <div class="mb-3">
       
            <button class="mt-4 w-75 p-3 btn text-white fw-bold fs-4 login" type="submit"><a href="#"
                    class="text-decoration-none text-white">Login</a></button>
            <button class="mt-4 w-75 p-3 btn text-white fw-bold fs-4" type="submit"
                style="background-color:rgba(199,16,46,255) ;"><a href="" class="text-white text-decoration-none">Create
                    an
                    Account</a></button>

            <br><br><br>
            <p class="text-center  fs-3" style="color: #cfc9c7;">Or</p>
            <p class="text-center  fs-3 text-capitalize" style="color: #cfc9c7;">connect via socail networks</p>
            <br>
            <div class="icon">
                <i class="fa-brands fa-facebook-f text-white fs-3"></i>
                <i class="fa-brands fa-twitter text-white ms-5 fs-3"></i>

                <i class="fa-brands fa-google text-white ms-5 fs-3"></i>
            </div>
        </div>

    </div>

</div> -->
<!-- Second Page End -->
<br><br>
<div class="second-page">
    <div class="position-relative text-center">
        <i class="fa-solid fa-wine-glass-empty top-50 start-50  p-3  "
            style="margin-top: 20%;font-size: 80px; color: black; background-color: rgba(199,16,46,255); border: 1px solid rgba(199,16,46,255);border-radius: 50%;"></i>
        <br><br>
        <p class="text-center text-white fs-3" style="font-weight: 500;">Sign In</p>
        <div class="mb-3">

            <button class="mt-4 w-75 p-3 btn text-white fw-bold fs-4 login" type="submit"><a href="#"
                    class="text-decoration-none text-white">Login</a></button>
            <button class="mt-4 w-75 p-3 btn text-white fw-bold fs-4" type="submit"
                style="background-color:rgba(199,16,46,255) ;"><a href="" class="text-white text-decoration-none">Create
                    an
                    Account</a></button>
            <br>

            <br>
            <p class="text-center  fs-3" style="color: #cfc9c7;">Or</p>
            <p class="text-center  fs-3 text-capitalize" style="color: #cfc9c7;">connect via social networks</p>
            <br>
            <div class="icon">
                <a href="#" class="text-decoration-none text-white"><i
                        class="fa-brands fa-facebook-f text-white fs-3"></i> </a>
                <a href="#" class="text-decoration-none text-white"><i
                        class="fa-brands fa-twitter text-white ms-5 fs-3"></i> </a>
                <a href="#" class="text-decoration-none text-white"><i
                        class="fa-brands fa-google text-white ms-5 fs-3"></i> </a>



            </div>
            <br><br>
        </div>

    </div>
</div>
<br><br>
<div class="third-page">
    <div class="position-relative text-center">
        <i class="fa-solid fa-wine-glass-empty top-50 start-50  p-3  "
            style="margin-top: 20%;font-size: 80px; color: black; background-color: rgba(199,16,46,255); border: 1px solid rgba(199,16,46,255);border-radius: 50%;"></i>
        <br><br>
        <p class="text-center text-white fs-3" style="font-weight: 500;">Sign In</p>
        <div class="mb-3">
            <input type="text" class="mt-4 w-75 p-3 btn text-white fw-bold fs-4 login text-start" placeholder="Email">
            <br>
            <input type="text" class="mt-4 w-75 p-3 btn text-white fw-bold fs-4 login text-start"
                placeholder="Password">
            <p class="text-center text-white fs-3 mt-4" style="font-weight: 500;"><a href="#"
                    class="text-decoration-none text-white">Forgot Password?</a></p>
            <button class="mt-4 w-75 p-3 btn text-white fw-bold fs-4" type="submit"
                style="background-color:rgba(199,16,46,255) ;"><a href=""
                    class="text-white text-decoration-none">Login</a></button>
            <br><br>
            <p class="text-center  fs-3" style="color: #cfc9c7;">Or</p>
            <p class="text-center  fs-3 text-capitalize" style="color: #cfc9c7;">connect via social networks</p>
            <br>
            <div class="icon">
                <i class="fa-brands fa-facebook-f text-white fs-3"></i>
                <i class="fa-brands fa-twitter text-white ms-5 fs-3"></i>

                <i class="fa-brands fa-google text-white ms-5 fs-3"></i>

            </div>
            <br><br>
        </div>

    </div>
</div>
<!-- Third Page End -->
<br><br>
<div class="fourth-page bg-white">
    <div class="container-fluid">
        <p class="float-start text-danger fs-3"><i class="fa-sharp fa-solid fa-location-dot"></i></p>
        <select name="" id="" class="float-start border-0 outline-0 fs-3 w-50 fw-bold">
            <option value=""> South St, Hollo...</option>
            <option value="">South St, Hollo...</option>
            <option value="">South St, Hollo...</option>
            <option value="">South St, Hollo...</option>
        </select>
        <p class="float-end text-muted fs-3 "><i class="fa-solid fa-cart-shopping"></i></p>
        <div class="input-icons ">
            <i class="fa-solid fa-magnifying-glass   icon"></i>
            <input class="input-field border border-2 border-muted rounded-3 ps-4" type="text"
                placeholder="Search Liquor">
        </div>
        <img src="../assets/fourth-page.jpg" alt="" class="img-fluid img-responsive rounded-3">
        <br><br>
        <p class="float-start text-dark fw-bold fs-3">Categories</p>
        <br><br>
        <br><br>
    </div>
    <div class="text-center d-flex justify-content-between">

        <div class="">
            <img src="../assets/drink-01.jpg" width="50%" class="img-fluid ">
            <p class="fw-bold">Wine</p>
        </div>
        <div class="">
            <img src="../assets/drink-02.jpg" width="50%" class="img-fluid ">
            <p class="fw-bold">Beer</p>
        </div>
        <div class="">
            <img src="../assets/drink-03.jpg" width="50%" class="img-fluid ">
            <p class="fw-bold">Whiskey</p>
        </div>
    </div>
    <br><br>
    <div class="container-fluid">
        <p class="float-start text-dark fw-bold fs-3">What's New</p>
        <div class="w-100 d-flex">
            <div class="w-50 shadow text-center">
                <div class="">
                    <img src="../assets/drink-04.jpg" width="50%" class="img-fluid ">
                    <p class="fw-bold">Small Cotton <br>
                        Watch
                        <br>
                        <small class="text-muted fw-normal">750ml<br>
                            <span class="fw-bold">$117.00</span>
                        </small>
                    </p>

                </div>
            </div>
            <div class="w-50 shadow text-center">
                <div class="">
                    <img src="../assets/drink-05.jpg" width="50%" class="img-fluid ">
                    <p class="fw-bold">Fantastic Steel <br>
                        Shirt
                        <br>
                        <small class="text-muted fw-normal">375ml<br>
                            <span class="fw-bold">$540.00</span>
                        </small>
                    </p>

                </div>
            </div>
        </div>
        <br><br>
        <div class="w-100 d-flex">
            <div class="w-50 shadow text-center">
                <div class="">
                    <img src="../assets/drink-06.jpg" width="50%" class="img-fluid ">
                    <p class="fw-bold">Small Linen <br>
                        Pants
                        <br>
                        <small class="text-muted fw-normal">750ml<br>
                            <span class="fw-bold">$226.00</span>
                        </small>
                    </p>

                </div>
            </div>
            <div class="w-50 shadow text-center">
                <div class="">
                    <img src="../assets/drink-07.jpg" width="50%" class="img-fluid ">
                    <p class="fw-bold">Heavy Duty <br>
                        Concrete Car
                        <br>
                        <small class="text-muted fw-normal">750ml<br>
                            <span class="fw-bold">$159.00</span>
                        </small>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="text-center d-flex justify-content-between bg-white">

            <div class="">
                <a href="#" class="text-decoration-none text-danger">
                    <i class="fa-solid fa-house text-danger"></i>
                    <p class="fw-bold text-danger">Home</p>
                </a>
            </div>
            <div class="">
                <a href="#" class="text-decoration-none text-danger">
                    <i class="fa-sharp fa-solid fa-basket-shopping text-muted"></i>
                    <p class="fw-bold text-muted">Order</p>
                </a>
            </div>
            <div class="">
                <a href="#" class="text-decoration-none text-danger">
                    <i class="fa-solid fa-user text-muted"></i>
                    <p class="fw-bold text-muted">Account</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Fourth Page End -->
<br><br>


<div class="fifth-page">
    <div class="w-100 container-fluid">
        <div class="float-start w-100 p-3" style="background-color: rgba(199,16,46,255);">
            <div class="d-flex">
                <a href="#" class="text-decoration-none text-white"><i
                        class="fa-solid fa-chevron-left fs-3 text-white mt-2"></i></a>
                &nbsp;&nbsp;
                <p class="fs-4 text-white">Whiskey</p>
            </div>
            <br>
            <div class="w-100 mx-auto d-block">
                <div class="input-icons ">
                    <i class="fa-solid fa-magnifying-glass mt-1  icon"></i>
                    <input class="input-field border border-2 border-muted rounded-3 ps-4" type="text"
                        placeholder="Search Liquor">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col  fs-6" style="color: rgba(244,176,183,255);">
                    <a href="#" class="text-decoration-none" style="color: rgba(244,176,183,255);">Wine</a>
                </div>
                <div class="col  fs-6" style="color: rgba(244,176,183,255);">
                    <a href="#" class="text-decoration-none" style="color: rgba(244,176,183,255);">Beer</a>

                </div>
                <div class="col text-white fs-6">
                    <a href="#" class="text-decoration-none text-white">Whiskey</a>

                </div>
                <div class="col  fs-6" style="color: rgba(244,176,183,255);">
                    <a href="#" class="text-decoration-none" style="color: rgba(244,176,183,255);">Tequila</a>

                </div>
                <div class="col  fs-6" style="color: rgba(244,176,183,255);">
                    <a href="#" class="text-decoration-none" style="color: rgba(244,176,183,255);">Cogno</a>

                </div>
            </div>
        </div>
        <br><br>
        <div class="bg-white border-top-5 rounded-3">
            <div class="w-100 d-flex border-top-5 rounded-3">
                <div class="w-50 shadow text-center">
                    <div class="">
                        <img src="../assets/drink-04.jpg" width="50%" class="img-fluid ">
                        <p class="fw-bold">Small Cotton <br>
                            Watch
                            <br>
                            <small class="text-muted fw-normal">750ml<br>
                                <span class="fw-bold">$117.00</span>
                            </small>
                        </p>

                    </div>
                </div>
                <div class="w-50 shadow text-center">
                    <div class="">
                        <img src="../assets/drink-05.jpg" width="50%" class="img-fluid ">
                        <p class="fw-bold">Fantastic Steel <br>
                            Shirt
                            <br>
                            <small class="text-muted fw-normal">375ml<br>
                                <span class="fw-bold">$540.00</span>
                            </small>
                        </p>

                    </div>
                </div>
            </div>
            <div class="w-100 d-flex ">
                <div class="w-50 shadow text-center">
                    <div class="">
                        <img src="../assets/drink-06.jpg" width="50%" class="img-fluid ">
                        <p class="fw-bold">Small Linen <br>
                            Pants
                            <br>
                            <small class="text-muted fw-normal">750ml<br>
                                <span class="fw-bold">$226.00</span>
                            </small>
                        </p>

                    </div>
                </div>
                <div class="w-50 shadow text-center">
                    <div class="">
                        <img src="../assets/drink-07.jpg" width="50%" class="img-fluid ">
                        <p class="fw-bold">Heavy Duty <br>
                            Concrete Car
                            <br>
                            <small class="text-muted fw-normal">750ml<br>
                                <span class="fw-bold">$159.00</span>
                            </small>
                        </p>

                    </div>
                </div>
            </div>
            <div class="w-100 d-flex">
                <div class="w-50 shadow text-center">
                    <div class="">
                        <img src="../assets/drink-04.jpg" width="50%" class="img-fluid ">
                        <p class="fw-bold">Small Cotton <br>
                            Watch
                            <br>
                            <small class="text-muted fw-normal">750ml<br>
                                <span class="fw-bold">$117.00</span>
                            </small>
                        </p>

                    </div>
                </div>
                <div class="w-50 shadow text-center">
                    <div class="">
                        <img src="../assets/drink-05.jpg" width="50%" class="img-fluid ">
                        <p class="fw-bold">Fantastic Steel <br>
                            Shirt
                            <br>
                            <small class="text-muted fw-normal">375ml<br>
                                <span class="fw-bold">$540.00</span>
                            </small>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fifth Page End -->
<br><br>

<div class="sixth-page">
    <div class="container-fluid">
        <div class="bg-white border-bottom border-4 rounded-3 ">

            <a href="#" class="text-decoration-none text-dark"><i
                    class="fa-solid fa-chevron-left fs-3 text-dark"></i></a>

            <div>
                <img src="../assets/drink-05.jpg" class="rounded mx-auto d-block w-25" alt="...">
                <p class="float-start fs-3 fw-bold">Fantastic <br>Steel Shirt
                    <br>
                    <button class="btn float-start mt-2 text-danger fw-bold"
                        style="background-color: rgba(250,231,233,255);">375ml</button>
                    &nbsp;
                    <span class="text-muted fs-5 " style="font-weight: 500;">750ml</span>
                </p>
                <p class="float-end fs-3 fw-bold"><span class="text-danger ">$</span>540.00</p>
                <br><br><br><br><br><br>
            </div>
        </div>
        <br>
        <p class="float-start fs-3 fw-bold">Testing Notes</p>
        <br><br><br>
        <p class="text-muted fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the
            industry's standard
            dummy text ever since the 1500s, when an unknown printer</p>
        <br>
        <p class="text-muted fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <div class="mt-3 text-center">

            <button class="  btn  text-danger fs-6 fw-bold"
                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                style="background-color: rgba(250,231,233,255);">-</button>
            <input type="number" value="1" class=" mt-5 fs-4  border-0 outline-0 text-center fs-6 ms-2 fw-bold"
                style="width: 20%;">
            <!-- <span class=" mt-5">1</span> -->
            <button class="  btn  text-danger fs-6 fw-bold"
                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                style="background-color: rgba(250,231,233,255);">+</button>
        </div>
        <br><br>
        <div class=" rounded-3 d-flex justify-content-between" style="background-color: rgba(199,16,46,255);">
            <p class=" ms-2 text-white">
                1 Item
                <br>
                <span style="font-weight: 500;">$540.00</span>
            </p>
            <p class="mt-3 text-white fw-bold me-2 fs-5">Add to Cart</p>
        </div>
    </div>
</div>
<!-- Sixth Page End -->
<br><br>

<div class="seventh-page">

    <div class="container-fluid" style="background-color: rgba(199,16,46,255);">
        <a href="#" class="text-decoration-none text-dark"><i
                class="fa-solid fa-chevron-left fs-3 text-white mt-3 p-3 "></i></a>
        <br>
    </div>
    <img src="../assets/map.jpg" alt="" class="img-fluid img-responsive w-100 border-top  rounded-3">
    <div class="container-fluid">
        <p class="fs-3 fw-bold text-capitalize">set delivery location</p>
        <hr>
        <div>
            <!-- <div class="">
                <i class="fa-solid fa-location-dot float-start fs-4 mt-3 text-danger"></i>
                <p class="text-muted fs-6 ms-2 text-muted">Your Location <br>
                    <span class="fs-4 fw-bold text-dark">South St, Hompton</span>
                </p>
                <a href="#" class="text-decoration-none text-danger float-end">Change</a>
            </div> -->
            <div>
                <a href="#" class="text-decoration-none text-danger float-end mt-3 fw-bold fs-5">Change</a>
                <i class="fa-solid fa-location-dot float-start fs-4 d-flex text-danger mt-4"></i>
                <p class="text-muted fs-6 ms-4 text-muted">Your Location <br>
                    <span class="fs-4 fw-bold text-dark">South St, Hompton</span>
                </p>
            </div>
            <button class="btn text-capitalize text-white w-100 p-3 fw-bold"
                style="background-color: rgba(199,16,46,255);">confirm
                delivery location</button>
            <br><br>
        </div>
        <br><br>
    </div>
</div>
<!-- Seventh Page End -->
<br><br>

<div class="eight-page">
    <div class="container-fluid" style="background-color: rgba(199,16,46,255);">
        <a href="#" class="text-decoration-none text-dark"><i
                class="fa-solid fa-chevron-left fs-3 text-white mt-3 p-3 "></i></a>
        <br>
    </div>
    <img src="../assets/map-01.jpg" alt="" class="img-fluid img-responsive w-100 border-top  rounded-3">
    <div class="container-fluid">
        <p class="float-start fs-4 fw-bold mt-3">United States <br>
            <span class="text-muted fs-6" style="font-weight: 500;"> South St, Hompton</span>
        </p>
        <br><br><br><br>
        <div class="form-floating mb-3">
            <input type="text" class="form-control fw-bold" id="floatingInput" placeholder="1363">
            <label for="floatingInput">House / Flat / Block No</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control fw-bold" id="floatingPassword" placeholder="Near Broadway Church">
            <label for="floatingPassword">Landmark</label>
        </div>
        <div>
            <p class="fs-4 fw-bold mt-3">Save As</p>
        </div>
        <div class="d-flex">
            <button class="btn text-danger" style="background-color: rgba(250,231,233,255);"><a href="#"
                    class="text-decoration-none text-danger">Home</a></button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn text-danger" style="background-color: rgba(250,231,233,255);"><a href="#"
                    class="text-decoration-none text-muted">Office</a></button>
        </div>
        <button class="btn mt-4 text-capitalize text-white w-100 p-3 fw-bold"
            style="background-color: rgba(199,16,46,255);">
            Save Address</button>
    </div>
</div>
<!-- Eight Page End -->
<br><br>

<div class="nine-page">
    <div class="container-fluid d-flex" style="background-color: rgba(199,16,46,255);">
        <a href="#" class="text-decoration-none text-dark"><i
                class="fa-solid fa-chevron-left fs-3 text-white mt-3 p-3 "></i></a>
        <p class="fs-3 text-white mt-4">Cart</p>
        <br>
    </div>
    <div class="bg-white border-top border-3 rounded-3">
        <div class="container-fluid">
            <div class="mt-5 rounded-3" style="background-color: rgba(250,231,233,255);">
                <a href="#" class="text-decoration-none text-danger float-end mt-3 fw-bold fs-5 me-1">Change</a>
                <i class="fa-solid fa-location-dot float-start fs-4 d-flex text-danger mt-4"></i>
                <p class="text-muted fs-6 ms-4 text-muted">Delivery at <br>
                    <span class="fs-4 fw-bold text-dark">1363,South St, Hompton</span>
                </p>
            </div>
            <br><br>
            <div class="d-flex justify-content-between">
                <img src="../assets/drink-04.jpg" width="20%" class=" img-fluid "
                    style="  background-color: rgba(250,231,233,255);">
                <span class="fw-bold fs-6 mt-5 float-start">Small Cotton Watch
                    <br>
                    <span class="text-muted fs-6">750ml</span>
                    <br>
                    <p class="text-danger fw-bold">$<span>117.00</span></p>

                </span>

                <div class="mt-5">
                    <br>
                    <button class="float-end mt-5 btn  text-danger fs-6 fw-bold"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        style="background-color: rgba(250,231,233,255);">-</button>
                    <input type="number" value="1"
                        class="float-end mt-5 me-3 border-0 outline-0 text-center fs-6 ms-2 fw-bold"
                        style="width: 20%;">
                    <!-- <span class="float-end mt-5">1</span> -->
                    <button class="float-end mt-5 btn  text-danger fs-6 fw-bold"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        style="background-color: rgba(250,231,233,255);">+</button>
                </div>
                <br>
            </div>
            <br><br>
            <div class="d-flex justify-content-between">
                <img src="../assets/drink-05.jpg" width="20%" class=" img-fluid "
                    style="  background-color: rgba(250,231,233,255);">
                <span class="fw-bold fs-6 mt-5 float-start">Fantastic Steel Shirt
                    <br>
                    <span class="text-muted fs-6">750ml</span>
                    <br>
                    <p class="text-danger fw-bold">$<span>540.00</span></p>

                </span>

                <div class="mt-5">
                    <br>
                    <button class="float-end mt-5 btn  text-danger fs-6 fw-bold"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        style="background-color: rgba(250,231,233,255);">-</button>
                    <input type="number" value="1"
                        class="float-end mt-5 me-3 border-0 outline-0 text-center fs-6 ms-2 fw-bold"
                        style="width: 20%;">
                    <!-- <span class="float-end mt-5">1</span> -->
                    <button class="float-end mt-5 btn  text-danger fs-6 fw-bold"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        style="background-color: rgba(250,231,233,255);">+</button>
                </div>
                <br>
            </div>
            <br><br>
            <div class="mt-5 rounded-3 p-3" style="background-color: rgba(250,231,233,255);">
                <a href="#" class="text-decoration-none text-danger float-end  fw-bold fs-5 me-1">Apply</a>
                <img src="../assets/blob.jpg" alt=""
                    class="img-responsive img-fluid float-start fs-4 d-flex text-danger" width="35">
                <p class="text-muted fs-6 ms-4 text-muted">
                    <span class="fs-4 fw-bold text-dark">Apply A Promo Code</span>
                </p>
            </div>
            <br><br>
            <div>
                <div class="d-flex justify-content-between">
                    <p class="fs-4 text-capitalize" style="font-weight: 500;">item total</p>
                    <p class="fs-4 text-capitalize text-muted" style="font-weight: 500;"><b
                            class="text-danger">$</b>657.00
                    </p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="fs-4 text-capitalize" style="font-weight: 500;">delivery charge</p>
                    <p class="fs-4 text-capitalize text-muted" style="font-weight: 500;"><b
                            class="text-danger">$</b>2.00
                    </p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="fs-4 text-capitalize fw-bold">to pay</p>
                    <p class="fs-4 text-capitalize fw-bold"><b class="text-danger">$</b>659.00
                    </p>
                </div>
            </div>
            <br><br>
            <div class="mt-5 rounded-3 p-3" style="background-color: rgba(250,231,233,255);">
                <a href="#" class="text-decoration-none text-danger float-end mt-3 fw-bold fs-5 me-1">Change</a>
                <i class="fa-solid fa-credit-card float-start fs-4 d-flex text-danger mt-4"></i>

                <p class="text-muted fs-5 ms-5 text-muted">Pay Using <br>
                    <span class="fs-4 fw-bold text-dark">Apply Pay</span>
                </p>
            </div>
            <br><br>
            <div class="p-2 rounded-3 d-flex justify-content-between" style="background-color: rgba(199,16,46,255);">
                <p class=" ms-2 text-white">
                    2 Item
                    <br>
                    <span style="font-weight: 500;">$659.00</span>
                </p>
                <p class="mt-3 text-white fw-bold me-2 fs-5"><a href="#" class="text-decoration-none text-white">Pay
                        Now</a></p>
            </div>
            <br><br>
        </div>
    </div>
</div>
<!-- Nine Page End -->
<br><br>

<div class="ten-page">
    <div class="container-fluid d-flex" style="background-color: rgba(199,16,46,255);">
        <a href="#" class="text-decoration-none text-dark"><i
                class="fa-solid fa-chevron-left fs-3 text-white mt-3 p-3 "></i></a>
        <p class="fs-3 text-white mt-4">Promo Code</p>
        <br>
    </div>
    <div class="container-fluid">
        <div class="bg-white border-top rounded-3 border-top-5">
            <div class="mt-5 rounded-3 p-2" style="background-color: rgba(250,231,233,255);">
                <a href="#" class="text-decoration-none text-danger float-end mt-3 fw-bold fs-5 me-1">Change</a>
                <p class="text-muted fs-5 ms-1 text-muted">Enter Code <br>
                    <span class="fs-4 fw-bold text-dark">DELIVERY100</span>
                </p>
            </div>
            <br>
            <p class="fs-4 text-capitalize" style="font-weight: 500;">available coupons</p>
            <div>
                <i class="fa-brands fa-cc-apple-pay  text-dark" style="font-size: 60px;"></i>
                <div class="d-flex justify-content-between mt-3">
                    <p class="text-uppercase fs-3 float-start" style="font-weight: 500;">applepay20</p>
                    <p class="float-end text-danger fs-3" style="font-weight: 500;">Apply</p>
                </div>
                <p class=" fs-3" style="font-weight: 450;">Get instant $0.20 cashback on order <br><span>Payed
                        using applepay</span> </p>
                <br>
                <hr class="">
            </div>
            <br>
            <div>
                <i class="fa-brands fa-cc-paypal  " style="font-size: 60px; color: rgba(37,52,107,255);"></i>
                <div class="d-flex justify-content-between mt-3">
                    <p class="text-uppercase fs-3 float-start" style="font-weight: 500;">paypal50</p>
                    <p class="float-end text-danger fs-3" style="font-weight: 500;">Apply</p>
                </div>
                <p class=" fs-3" style="font-weight: 450;">Get instant $0.50 cashback on order <br><span>Payed
                        using paypal</span> </p>
                <br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>
<!-- Ten Page End -->
<br><br>

<div class="eleven-page">
    <div class="container-fluid d-flex" style="background-color: rgba(199,16,46,255);">
        <a href="#" class="text-decoration-none text-dark"><i
                class="fa-solid fa-chevron-left fs-3 text-white mt-3 p-3 "></i></a>
        <p class="fs-3 text-white mt-4" style="font-weight: 500;">Select Payment Method</p>
        <br>
    </div>
    <br><br>
    <div class="container-fluid">
        <div class="bg-white border-top rounded-3">
            <div class="d-flex justify-content-between mt-4">
                <div class="d-flex">
                    <i class="fa-brands fa-cc-apple-pay  text-dark" style="font-size: 60px;"></i>
                    <p class="fs-4 ms-3" style="font-weight: 500;">Apple Pay</p>
                </div>
                <p class="fw-bold fs-4 text-danger">Default</p>
            </div>

            <div class="d-flex justify-content-between mt-5">
                <div class="d-flex">
                    <i class="fa-brands fa-cc-paypal  " style="font-size: 60px; color: rgba(37,52,107,255);"></i>
                    <p class="fs-4 ms-3" style="font-weight: 500;">Paypal</p>
                </div>
                <i class="fa-solid fa-angle-right fw-bold fs-4 text-dark"></i>
            </div>
            <hr class="mt-4">
            <p class="fs-4 fw-bold">Save As</p>
            <div>
                <div class="mt-5">
                    <a href="#"><i
                            class="fa-solid fa-angle-right text-decoration-none text-danger float-end mt-3 fw-bold fs-5 me-1"></i></a>
                    <i class="fa-solid fa-credit-card float-start  d-flex text-primary mt-1"
                        style="font-size: 40px;"></i>

                    <p class="text-muted fs-6 ms-5 text-dark">John Deo <br>
                        <span class="fs-6 fw-bold text-dark">XXXX XXXX XXXX 5689</span>
                    </p>
                </div>
                <div class="mt-5">
                    <a href="#"><i
                            class="fa-solid fa-angle-right text-decoration-none text-danger float-end mt-3 fw-bold fs-5 me-1"></i></a>
                    <i class="fa-solid fa-credit-card float-start  d-flex  mt-1"
                        style="font-size: 40px;color: rgba(16,199,198,255);"></i>

                    <p class="text-muted fs-6 ms-5 text-dark">John visa <br>
                        <span class="fs-6 fw-bold text-dark">XXXX XXXX XXXX 5689</span>
                    </p>
                </div>
                <div class="mt-5">
                    <a href="#"><i
                            class="fa-solid fa-angle-right text-decoration-none text-danger float-end mt-3 fw-bold fs-5 me-1"></i></a>
                    <i class="fa-solid fa-credit-card float-start  d-flex mt-1"
                        style="font-size: 40px;color: rgba(197,101,15,255);"></i>

                    <p class="text-muted fs-6 ms-5 text-muted">John Master <br>
                        <span class="fs-6 fw-bold text-dark">XXXX XXXX XXXX 5689</span>
                    </p>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <button class="btn mt-4 text-capitalize text-white w-100 p-3 fw-bold"
                style="background-color: rgba(199,16,46,255);">Add More Card</button>
            <br><br>
        </div>
    </div>
</div>
<!-- Eleven Page End -->
<br><br>

<div class="twelve-page">
    <div class="container-fluid d-flex" style="background-color: rgba(199,16,46,255);">
        <a href="#" class="text-decoration-none text-dark"><i
                class="fa-solid fa-chevron-left fs-3 text-white mt-3 p-3 "></i></a>
        <p class="fs-3 text-white mt-4" style="font-weight: 500;">Add Your Card</p>
        <br>
    </div>
    <div class="container-fluid bg-white border-top rounded-3">
        <p class="text-capitalize mt-4 fs-4 fw-bold">Enter Your card details</p>
        <div class="w-100">
            <div class="form-floating mb-3">
                <input type="text" class="form-control fw-bold fs-4 text-muted" id="floatingInput"
                    placeholder="2564 5236 4563 5236">
                <label for="floatingInput" class="fw-bold text-muted">Card Number</label>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-5 col-lg-5 col-md-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control fw-bold fs-4 text-muted" id="floatingInput"
                        placeholder="2564 5236 4563 5236">
                    <label for="floatingInput" class="fw-bold text-muted">MM / YYYY</label>
                </div>
            </div>
            <div class="col-5 col-lg-5 col-md-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control fw-bold fs-4 text-muted" id="floatingInput"
                        placeholder="2564 5236 4563 5236">
                    <label for="floatingInput" class="fw-bold text-muted">CVV</label>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="form-floating mb-3">
                <input type="text" class="form-control fw-bold fs-4 text-muted" id="floatingInput"
                    placeholder="2564 5236 4563 5236">
                <label for="floatingInput" class="fw-bold text-muted">Card Holder Name</label>
            </div>
        </div>
        <br>
        <button class="btn mt-4 text-capitalize text-white w-100 p-3 fw-bold"
            style="background-color: rgba(199,16,46,255);">
            Save Card</button>
    </div>
</div>
<!-- Twelve Page End -->
<br><br>
<router-outlet></router-outlet>


<!-- <script>
    function add() {
        const plus = document.querySelector(".plus");
        var minus = document.querySelector(".minus");
        var num = document.querySelector(".num");
        let a = 1;

        plus.addEventListener("click", () => {
            a++;
            console.log(a)
        })
    }
</script> -->